<a href="https://colab.research.google.com/github/sreent/big-data-analysis/blob/main/Nutrition%20Facts%20-%20Ingestion%20using%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# install and start mysql server
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!/etc/init.d/mysql restart > /dev/null

# mount gdrive, required for downloaded dataset (or sql data dump)
import os
from google.colab import drive
drive.mount("/content/drive")

# set folder paths for the coursework
os.environ["COURSE_FOLDER"] = "/content/drive/MyDrive/databases/"
os.environ["PROJECT_FOLDER"] = os.getenv("COURSE_FOLDER") + "nutrition-facts/"

# create course folder in gdrive if not exist
!mkdir -p $COURSE_FOLDER
# create project folder in gdrive (course folder) if not exist 
!mkdir -p $PROJECT_FOLDER

# set path for data file to be downloaded 
os.environ["SRC_FILE_ID"] = "1c_X7A-0p3AH_9yCtlgHts1nvol4tOoPO"
os.environ["DATA_FILE_NAME"] = "mcdonalds-nutrition-facts.csv"

# download data file and save it to the project folder
!wget --no-check-certificate "https://docs.google.com/uc?export=download&id=${SRC_FILE_ID}" -O "${PROJECT_FOLDER}${DATA_FILE_NAME}"

# install sql magic, required for running sql commands in jupyter notebook
!pip install -q ipython-sql
# install mysql python connector
!pip install -q pymysql mysql-connector-python mysqlclient
# install sqlalchemy
!pip install -q sqlalchemy==1.4.4

# enable sql magic in the notebook
%reload_ext sql

# queries are returned in the pandas format 
%config SqlMagic.autopandas=True

import pandas as pd
# maximum # of rows to be rendered
pd.set_option('display.max_rows', 25)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

su: warning: cannot change directory to /nonexistent: No such file or directory
Mounted at /content/drive
--2023-04-30 18:50:45--  https://docs.google.com/uc?export=download&id=1c_X7A-0p3AH_9yCtlgHts1nvol4tOoPO
Resolving docs.google.com (docs.google.com)... 142.251.163.113, 142.251.163.139, 142.251.163.101, ...
Connecting to docs.google.com (docs.google.com)|142.251.163.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-4g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/sis5gk0u1k5q7tosgujgl83ntm13k0jn/1682880600000/16991011529150933653/*/1c_X7A-0p3AH_9yCtlgHts1nvol4tOoPO?e=download&uuid=bd55ee7c-2dfe-4bff-b613-a88a827a4fe2 [following]
Warning: wildcards not supported in HTTP.
--2023-04-30 18:50:45--  https://doc-08-4g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/sis5gk0u1k5q7tosgujgl83ntm13k0jn/1682880600000/16991011529150933653/*/1c_X7A-0p3AH_9yCtlgHts1nvol4tOoPO?e=download&uuid=bd55ee7c-2dfe-4bff-b613-a88a827a4fe2
Resolving doc-08-4g-docs.googleusercontent.com (doc-08-4g-docs.googleusercontent.com)... 142.251.167.132, 2607:f8b0:4004:c1d::84
Connecting to doc-08-4g-docs.googleusercontent.com (doc-08-4g-docs.googleusercontent.com)|142.251.167.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 29988 (29K) [text/csv]
Saving to: ‘/content/drive/MyDrive/databases/nutrition-facts/mcdonalds-nutrition-facts.csv’

/content/drive/MyDr 100%[===================>]  29.29K  --.-KB/s    in 0.002s

2023-04-30 18:50:45 (14.5 MB/s) - ‘/content/drive/MyDrive/databases/nutrition-facts/mcdonalds-nutrition-facts.csv’ saved [29988/29988]

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 54.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 4.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 48.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 kB 11.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysqlclient (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.5/7.5 MB 81.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for sqlalchemy (setup.py) ... done

In [5]:
import pandas as pd
pd.options.mode.chained_assignment = None 

FOLDER_PATH = os.getenv("PROJECT_FOLDER")
FILE_NAME = os.getenv("DATA_FILE_NAME")

FILE_PATH = FOLDER_PATH + FILE_NAME

In [6]:
df = pd.read_csv(FILE_PATH)

df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [7]:
df.columns

Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
       'Total Fat', 'Total Fat (% Daily Value)', 'Saturated Fat',
       'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
       'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
       'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
      dtype='object')

In [8]:
columns = [column for column in df.columns if "% Daily Value" not in column]

df = df[columns]
df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Carbohydrates,Dietary Fiber,Sugars,Protein
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,5.0,0.0,260,750,31,4,3,17
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,3.0,0.0,25,770,30,4,3,18
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,8.0,0.0,45,780,29,4,2,14
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,10.0,0.0,285,860,30,4,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,8.0,0.0,50,880,30,4,2,21

In [9]:
df["Serving Size"] = df["Serving Size"].apply(lambda x: x.split("(")[-1].split(" ")[0])

df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Carbohydrates,Dietary Fiber,Sugars,Protein
0,Breakfast,Egg McMuffin,136,300,120,13.0,5.0,0.0,260,750,31,4,3,17
1,Breakfast,Egg White Delight,135,250,70,8.0,3.0,0.0,25,770,30,4,3,18
2,Breakfast,Sausage McMuffin,111,370,200,23.0,8.0,0.0,45,780,29,4,2,14
3,Breakfast,Sausage McMuffin with Egg,161,450,250,28.0,10.0,0.0,285,860,30,4,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,161,400,210,23.0,8.0,0.0,50,880,30,4,2,21

In [10]:
UNITS = {
    "Serving Size": "g", "Calories": "kcal", "Calories from Fat": "kcal", 
    "Saturated Fat": "g", "Trans Fat": "g", "Cholesterol": "mg", 
    "Sodium": "mg", "Carbohydrates": "g", "Dietary Fiber": "g", 
    "Sugars": "g", "Protein": "g"
}

In [11]:
pivot = pd.DataFrame()
for (nutrient, unit) in UNITS.items() :
    filter = ["Category", "Item", nutrient]
    facts = df[filter]
    
    facts["Nutrient"] = nutrient
    facts["Unit"] = unit
    facts.rename({nutrient: "Quantity"}, axis=1, inplace=True)

    if len(pivot) > 0 :
        pivot = pd.concat([pivot, facts], ignore_index=True)
    else :
        pivot = facts

    pivot = pivot[["Category", "Item", "Nutrient", "Quantity", "Unit"]]

pivot.columns = [column.lower() for column in pivot.columns]

pivot.sort_values(["category", "item", "nutrient"], inplace=True)
pivot.head()

         category                    item           nutrient quantity  unit
311   Beef & Pork  Bacon Clubhouse Burger           Calories      720  kcal
571   Beef & Pork  Bacon Clubhouse Burger  Calories from Fat      360  kcal
1871  Beef & Pork  Bacon Clubhouse Burger      Carbohydrates       51     g
1351  Beef & Pork  Bacon Clubhouse Burger        Cholesterol      115    mg
2131  Beef & Pork  Bacon Clubhouse Burger      Dietary Fiber        4     g

In [12]:
categories = pd.DataFrame(data=pivot['category'].unique(), columns=['category'])

categories.reset_index(inplace=True)
categories.columns = ['category_id', 'category_name']

categories.to_csv(FOLDER_PATH + "categories.csv", index=False)
categories.head()

   category_id   category_name
0            0     Beef & Pork
1            1       Beverages
2            2       Breakfast
3            3  Chicken & Fish
4            4    Coffee & Tea

In [13]:
items = pivot[['item', 'category']].drop_duplicates()
items.reset_index(drop=True, inplace=True)

items.reset_index(inplace=True)
items.columns = ['item_id', 'item_name', 'category']

category_mapping = dict(categories[['category_name', 'category_id']].values)
items['category'] = items['category'].apply(lambda x: category_mapping[x])

items.to_csv(FOLDER_PATH + "items.csv", index=False)
items.head()

   item_id               item_name  category
0        0  Bacon Clubhouse Burger         0
1        1          Bacon McDouble         0
2        2                 Big Mac         0
3        3            Cheeseburger         0
4        4            Daily Double         0

In [14]:
units = pd.DataFrame(data=pivot['unit'].unique(), columns=['unit'])

units.reset_index(inplace=True)
units.columns = ['unit_id', 'unit_name']

units.to_csv(FOLDER_PATH + "units.csv", index=False)
units.head()

   unit_id unit_name
0        0      kcal
1        1         g
2        2        mg

In [15]:
nutrients = pivot[['nutrient', 'unit']].drop_duplicates()
nutrients.reset_index(drop=True, inplace=True)

nutrients.reset_index(inplace=True)
nutrients.columns = ['nutrient_id', 'nutrient_name', 'unit']

unit_mapping = dict(units[['unit_name', 'unit_id']].values)
nutrients['unit'] = nutrients['unit'].apply(lambda x: unit_mapping[x])

nutrients.to_csv(FOLDER_PATH + "nutrients.csv", index=False)
nutrients.head()

   nutrient_id      nutrient_name  unit
0            0           Calories     0
1            1  Calories from Fat     0
2            2      Carbohydrates     1
3            3        Cholesterol     2
4            4      Dietary Fiber     1

In [16]:
nutrition_facts = pivot[['item', 'nutrient', 'quantity']]

item_mapping = dict(items[['item_name', 'item_id']].values)
nutrition_facts['item'] = nutrition_facts['item'].apply(lambda x: item_mapping[x])

nutrient_mapping = dict(nutrients[['nutrient_name', 'nutrient_id']].values)
nutrition_facts['nutrient'] = nutrition_facts['nutrient'].apply(lambda x: nutrient_mapping[x])

nutrition_facts.to_csv(FOLDER_PATH + "nutrition-facts.csv", index=False)
nutrition_facts.head(5)

      item  nutrient quantity
311      0         0      720
571      0         1      360
1871     0         2       51
1351     0         3      115
2131     0         4        4

In [17]:
%%writefile /etc/my.cnf
[mysqld]
secure_file_priv = ""

Writing /etc/my.cnf

In [18]:
!/etc/init.d/mysql restart > /dev/null
!mysql -e "SET GLOBAL local_infile=true;"

!cp ${PROJECT_FOLDER}*.csv .
!chmod g+rw,o+rw *.csv

su: warning: cannot change directory to /nonexistent: No such file or directory

In [44]:
# create a database
!mysql -e "DROP DATABASE IF EXISTS nutrition;"
!mysql -e "CREATE DATABASE nutrition;"

# create a database user and grant access to the employees database
!mysql -e "DROP USER IF EXISTS 'francis'@'%';"
!mysql -e "CREATE USER 'francis'@'%' IDENTIFIED WITH mysql_native_password BY 'california';" 
!mysql -e "GRANT ALL ON nutrition.* TO 'francis'@'%';"

In [73]:
%%writefile setup-database.sql
DROP DATABASE IF EXISTS nutrition;
CREATE DATABASE nutrition;

DROP USER IF EXISTS 'francis'@'%';
CREATE USER 'francis'@'%' IDENTIFIED WITH mysql_native_password BY 'california';
GRANT ALL ON nutrition.* TO 'francis'@'%';

Overwriting setup-database.sql

In [74]:
!mysql -t < setup-database.sql

In [75]:
%%sql
SHOW DATABASES;

 * mysql+pymysql://francis:***@localhost/nutrition
3 rows affected.

             Database
0  information_schema
1           nutrition
2  performance_schema

In [76]:
!mysql -e "GRANT SELECT ON mysql.* TO 'francis'@'%';"

In [77]:
%%sql
SELECT user, host
FROM mysql.user;

 * mysql+pymysql://francis:***@localhost/nutrition
7 rows affected.

               user       host
0           francis          %
1  debian-sys-maint  localhost
2           francis  localhost
3  mysql.infoschema  localhost
4     mysql.session  localhost
5         mysql.sys  localhost
6              root  localhost

In [78]:
%sql mysql+pymysql://francis:california@localhost/nutrition

In [79]:
%%writefile create-tables.sql
USE nutrition;

DROP TABLE IF EXISTS nutrition_facts;
DROP TABLE IF EXISTS nutrients;
DROP TABLE IF EXISTS units;
DROP TABLE IF EXISTS items;
DROP TABLE IF EXISTS categories;

CREATE TABLE categories (
  category_id int PRIMARY KEY,
  category_name varchar(255) NOT NULL
);

CREATE TABLE items (
  item_id int PRIMARY KEY,
  item_name varchar(255) NOT NULL,
  category int NOT NULL,
  FOREIGN KEY (category) REFERENCES categories(category_id)
);

CREATE TABLE units (
  unit_id int PRIMARY KEY,
  unit_name varchar(255) NOT NULL
);

CREATE TABLE nutrients (
  nutrient_id int PRIMARY KEY,
  nutrient_name varchar(255) NOT NULL,
  unit int NOT NULL,
  FOREIGN KEY (unit) REFERENCES units(unit_id)
);

CREATE TABLE nutrition_facts (
  item int,
  nutrient int,
  quantity float NOT NULL,
  PRIMARY KEY (item, nutrient),
  FOREIGN KEY (item) REFERENCES items(item_id),
  FOREIGN KEY (nutrient) REFERENCES nutrients(nutrient_id)
);

Overwriting create-tables.sql

In [80]:
!mysql -t < create-tables.sql

In [81]:
%%sql
SHOW TABLES;

 * mysql+pymysql://francis:***@localhost/nutrition
5 rows affected.

  Tables_in_nutrition
0          categories
1               items
2           nutrients
3     nutrition_facts
4               units

In [82]:
%%writefile ingest-data.sql
USE nutrition;

DELETE FROM nutrition_facts;
DELETE FROM nutrients;
DELETE FROM units;
DELETE FROM items;
DELETE FROM categories;

LOAD DATA INFILE '/content/categories.csv' 
INTO TABLE categories 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

LOAD DATA INFILE '/content/items.csv' 
INTO TABLE items 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

LOAD DATA INFILE '/content/units.csv' 
INTO TABLE units 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

LOAD DATA INFILE '/content/nutrients.csv' 
INTO TABLE nutrients 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

LOAD DATA INFILE '/content/nutrition-facts.csv' 
INTO TABLE nutrition_facts 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

Overwriting ingest-data.sql

In [83]:
!mysql -t < ingest-data.sql

In [84]:
%%sql
SELECT *
FROM categories;

 * mysql+pymysql://francis:***@localhost/nutrition
9 rows affected.

   category_id       category_name
0            0         Beef & Pork
1            1           Beverages
2            2           Breakfast
3            3      Chicken & Fish
4            4        Coffee & Tea
5            5            Desserts
6            6              Salads
7            7  Smoothies & Shakes
8            8      Snacks & Sides

In [85]:
%%sql
SELECT *
FROM items;

 * mysql+pymysql://francis:***@localhost/nutrition
260 rows affected.

     item_id                           item_name  category
0          0              Bacon Clubhouse Burger         0
1          1                      Bacon McDouble         0
2          2                             Big Mac         0
3          3                        Cheeseburger         0
4          4                        Daily Double         0
..       ...                                 ...       ...
255      255                 Medium French Fries         8
256      256   Ranch Snack Wrap (Crispy Chicken)         8
257      257  Ranch Snack Wrap (Grilled Chicken)         8
258      258                          Side Salad         8
259      259                  Small French Fries         8

[260 rows x 3 columns]

In [86]:
%%sql
SELECT *
FROM units;

 * mysql+pymysql://francis:***@localhost/nutrition
3 rows affected.

   unit_id unit_name
0        0      kcal
1        1         g
2        2        mg

In [87]:
%%sql 
SELECT *
FROM nutrition_facts;

 * mysql+pymysql://francis:***@localhost/nutrition
2860 rows affected.

      item  nutrient  quantity
0        0         0     720.0
1        0         1     360.0
2        0         2      51.0
3        0         3     115.0
4        0         4       4.0
...    ...       ...       ...
2855   259         6       1.5
2856   259         7      75.0
2857   259         8     130.0
2858   259         9       0.0
2859   259        10       0.0

[2860 rows x 3 columns]

In [88]:
!cp setup-database.sql ${PROJECT_FOLDER}.
!cp create-tables.sql ${PROJECT_FOLDER}.
!cp ingest-data.sql ${PROJECT_FOLDER}.