<a href="https://colab.research.google.com/github/sreent/big-data-analysis/blob/main/Nutrition%20Facts%20-%20Ingestion%20using%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
# install and start mysql server
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!/etc/init.d/mysql restart > /dev/null

# enable data loading from a csv file into a table, only required for colab 
!echo -e "[mysqld]\nsecure_file_priv = \"\"" >> /etc/my.cnf
!/etc/init.d/mysql restart > /dev/null
!mysql -e "SET GLOBAL local_infile=true;"

# mount gdrive, required for downloaded dataset (or sql data dump)
import os
from google.colab import drive
drive.mount("/content/drive")

# install sql magic, required for running sql commands in jupyter notebook
!pip install -q ipython-sql
# install mysql python connector
!pip install -q pymysql mysql-connector-python mysqlclient
# install sqlalchemy
!pip install -q sqlalchemy==1.4.4

# enable sql magic in the notebook
%reload_ext sql

# queries are returned in the pandas format 
%config SqlMagic.autopandas=True

import pandas as pd
# maximum # of rows to be rendered
pd.set_option('display.max_rows', 25)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

su: warning: cannot change directory to /nonexistent: No such file or directory
su: warning: cannot change directory to /nonexistent: No such file or directory
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [104]:
# project name
os.environ["PROJECT_NAME"] = "nutrition-facts"

# set folder paths in gdrive for the coursework
os.environ["CODER_HOME"] = "/content"
os.environ["PROJECTS"] = os.getenv("CODER_HOME") + "/project"
os.environ["PROJECT_HOME"] = os.getenv("PROJECTS") + "/" + os.getenv("PROJECT_NAME")
os.environ["DATA_PATH"] = os.getenv("PROJECT_HOME") + "/data"
os.environ["SCRIPT_PATH"] = os.getenv("PROJECT_HOME") + "/scripts"

# create course folder in gdrive if not exist
!mkdir -p $CODER_HOME
# create course folder in gdrive if not exist
!mkdir -p $PROJECTS
# create project folder in gdrive (course folder) if not exist 
!mkdir -p $PROJECT_HOME
# create data folder in gdrive (project folder) if not exist 
!mkdir -p $DATA_PATH
# create data folder in gdrive (project folder) if not exist 
!mkdir -p $SCRIPT_PATH

# set folder paths on gdrive for the coursework
os.environ["GD_COURSE_HOME"] = "/content/drive/MyDrive/databases"
os.environ["GD_PROJECT_HOME"] = os.getenv("GD_COURSE_HOME") + "/" +os.getenv("PROJECT_NAME")
os.environ["GD_DATA_PATH"] = os.getenv("GD_PROJECT_HOME") + "/data"
os.environ["GD_SCRIPT_PATH"] = os.getenv("GD_PROJECT_HOME") + "/scripts"

# create course folder in gdrive if not exist
!mkdir -p $GD_COURSE_HOME
# create project folder in gdrive (course folder) if not exist 
!mkdir -p $GD_PROJECT_HOME
# create data folder in gdrive (project folder) if not exist 
!mkdir -p $GD_DATA_PATH
# create data folder in gdrive (project folder) if not exist 
!mkdir -p $GD_SCRIPT_PATH


os.environ["DATABASE_NAME"] = "nutrition"

os.environ["MYSQL_USER_NAME"] = "francis"
os.environ["MYSQL_USER_PASSWORD"] = "california"

In [105]:
!ls -d $PROJECT_HOME/*

/content/project/nutrition-facts/data  /content/project/nutrition-facts/scripts

In [106]:
!ls -d $GD_PROJECT_HOME/*

/content/drive/MyDrive/databases/nutrition-facts/data
/content/drive/MyDrive/databases/nutrition-facts/scripts

In [107]:
!ln -s /content /home/coder

In [108]:
!ls /content

content  drive	project  sample_data

In [109]:
!ls /home/coder

content  drive	project  sample_data

In [110]:
# set path for data file to be downloaded 
os.environ["SRC_FILE_ID"] = "1c_X7A-0p3AH_9yCtlgHts1nvol4tOoPO"
os.environ["SRC_FILE_NAME"] = "mcdonalds-nutrition-facts.csv"

# download data file and save it to the project folder
!wget -q --no-check-certificate "https://docs.google.com/uc?export=download&id=${SRC_FILE_ID}" -O "${GD_DATA_PATH}${SRC_FILE_NAME}"

In [111]:
import pandas as pd
pd.options.mode.chained_assignment = None 

SRC_FILE_PATH = os.getenv("GD_DATA_PATH") + "/" + os.getenv("SRC_FILE_NAME")
DATA_PATH = os.getenv("DATA_PATH")
SCRIPT_PATH = os.getenv("SCRIPT_PATH")

DATABASE_NAME = os.getenv("DATABASE_NAME")
MYSQL_USER_NAME = os.getenv("MYSQL_USER_NAME")
MYSQL_USER_PASSWORD = os.getenv("MYSQL_USER_PASSWORD")

df = pd.read_csv(SRC_FILE_PATH)
df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [112]:
df.columns

Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
       'Total Fat', 'Total Fat (% Daily Value)', 'Saturated Fat',
       'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
       'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
       'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
      dtype='object')

In [113]:
columns = [column for column in df.columns if "% Daily Value" not in column]

df = df[columns]
df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Carbohydrates,Dietary Fiber,Sugars,Protein
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,5.0,0.0,260,750,31,4,3,17
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,3.0,0.0,25,770,30,4,3,18
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,8.0,0.0,45,780,29,4,2,14
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,10.0,0.0,285,860,30,4,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,8.0,0.0,50,880,30,4,2,21

In [114]:
df["Serving Size"] = df["Serving Size"].apply(lambda x: x.split("(")[-1].split(" ")[0])

df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Carbohydrates,Dietary Fiber,Sugars,Protein
0,Breakfast,Egg McMuffin,136,300,120,13.0,5.0,0.0,260,750,31,4,3,17
1,Breakfast,Egg White Delight,135,250,70,8.0,3.0,0.0,25,770,30,4,3,18
2,Breakfast,Sausage McMuffin,111,370,200,23.0,8.0,0.0,45,780,29,4,2,14
3,Breakfast,Sausage McMuffin with Egg,161,450,250,28.0,10.0,0.0,285,860,30,4,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,161,400,210,23.0,8.0,0.0,50,880,30,4,2,21

In [115]:
UNITS = {
    "Serving Size": "g", "Calories": "kcal", "Calories from Fat": "kcal", 
    "Saturated Fat": "g", "Trans Fat": "g", "Cholesterol": "mg", 
    "Sodium": "mg", "Carbohydrates": "g", "Dietary Fiber": "g", 
    "Sugars": "g", "Protein": "g"
}

In [116]:
pivot = pd.DataFrame()
for (nutrient, unit) in UNITS.items() :
    filter = ["Category", "Item", nutrient]
    facts = df[filter]
    
    facts["Nutrient"] = nutrient
    facts["Unit"] = unit
    facts.rename({nutrient: "Quantity"}, axis=1, inplace=True)

    if len(pivot) > 0 :
        pivot = pd.concat([pivot, facts], ignore_index=True)
    else :
        pivot = facts

    pivot = pivot[["Category", "Item", "Nutrient", "Quantity", "Unit"]]

pivot.columns = [column.lower() for column in pivot.columns]

pivot.sort_values(["category", "item", "nutrient"], inplace=True)
pivot.head()

         category                    item           nutrient quantity  unit
311   Beef & Pork  Bacon Clubhouse Burger           Calories      720  kcal
571   Beef & Pork  Bacon Clubhouse Burger  Calories from Fat      360  kcal
1871  Beef & Pork  Bacon Clubhouse Burger      Carbohydrates       51     g
1351  Beef & Pork  Bacon Clubhouse Burger        Cholesterol      115    mg
2131  Beef & Pork  Bacon Clubhouse Burger      Dietary Fiber        4     g

In [117]:
categories = pd.DataFrame(data=pivot['category'].unique(), columns=['category'])

categories.reset_index(inplace=True)
categories.columns = ['category_id', 'category_name']

categories.to_csv(f"{DATA_PATH}/categories.csv", index=False)
categories.head()

   category_id   category_name
0            0     Beef & Pork
1            1       Beverages
2            2       Breakfast
3            3  Chicken & Fish
4            4    Coffee & Tea

In [118]:
items = pivot[['item', 'category']].drop_duplicates()
items.reset_index(drop=True, inplace=True)

items.reset_index(inplace=True)
items.columns = ['item_id', 'item_name', 'category']

category_mapping = dict(categories[['category_name', 'category_id']].values)
items['category'] = items['category'].apply(lambda x: category_mapping[x])

items.to_csv(f"{DATA_PATH}/items.csv", index=False)
items.head()

   item_id               item_name  category
0        0  Bacon Clubhouse Burger         0
1        1          Bacon McDouble         0
2        2                 Big Mac         0
3        3            Cheeseburger         0
4        4            Daily Double         0

In [119]:
units = pd.DataFrame(data=pivot['unit'].unique(), columns=['unit'])

units.reset_index(inplace=True)
units.columns = ['unit_id', 'unit_name']

units.to_csv(f"{DATA_PATH}/units.csv", index=False)
units.head()

   unit_id unit_name
0        0      kcal
1        1         g
2        2        mg

In [120]:
nutrients = pivot[['nutrient', 'unit']].drop_duplicates()
nutrients.reset_index(drop=True, inplace=True)

nutrients.reset_index(inplace=True)
nutrients.columns = ['nutrient_id', 'nutrient_name', 'unit']

unit_mapping = dict(units[['unit_name', 'unit_id']].values)
nutrients['unit'] = nutrients['unit'].apply(lambda x: unit_mapping[x])

nutrients.to_csv(f"{DATA_PATH}/nutrients.csv", index=False)
nutrients.head()

   nutrient_id      nutrient_name  unit
0            0           Calories     0
1            1  Calories from Fat     0
2            2      Carbohydrates     1
3            3        Cholesterol     2
4            4      Dietary Fiber     1

In [121]:
nutrition_facts = pivot[['item', 'nutrient', 'quantity']]

item_mapping = dict(items[['item_name', 'item_id']].values)
nutrition_facts['item'] = nutrition_facts['item'].apply(lambda x: item_mapping[x])

nutrient_mapping = dict(nutrients[['nutrient_name', 'nutrient_id']].values)
nutrition_facts['nutrient'] = nutrition_facts['nutrient'].apply(lambda x: nutrient_mapping[x])

nutrition_facts.to_csv(f"{DATA_PATH}/nutrition-facts.csv", index=False)
nutrition_facts.head(5)

      item  nutrient quantity
311      0         0      720
571      0         1      360
1871     0         2       51
1351     0         3      115
2131     0         4        4

In [ ]:
%%writefile /etc/my.cnf
[mysqld]
secure_file_priv = ""

Writing /etc/my.cnf

In [ ]:
!/etc/init.d/mysql restart > /dev/null
!mysql -e "SET GLOBAL local_infile=true;"

!cp ${PROJECT_FOLDER}*.csv .
!chmod g+rw,o+rw *.csv

su: warning: cannot change directory to /nonexistent: No such file or directory

In [122]:
!chmod g+r,o+r $DATA_PATH/*.csv

In [145]:
%%writefile $SCRIPT_PATH/setup-database.sql
/* create a project database, and drop it first if it already exists */
DROP DATABASE IF EXISTS nutrition;
CREATE DATABASE nutrition;

/* create a database user, called francis, and drop it first if it already exists */
DROP USER IF EXISTS 'francis'@'%';
CREATE USER 'francis'@'%' IDENTIFIED WITH mysql_native_password BY 'california';

/* grant user access to the project data, which was created earlier */
GRANT ALL ON nutrition.* TO 'francis'@'%';

/* only for running in colab, grant user francis to server related configuration */   
GRANT SELECT ON mysql.* TO 'francis'@'%';

Overwriting /content/project/nutrition-facts/scripts/setup-database.sql

In [146]:
!mysql -t < /home/coder/project/nutrition-facts/scripts/setup-database.sql

In [147]:
connection = f"mysql+pymysql://{MYSQL_USER_NAME}:{MYSQL_USER_PASSWORD}@localhost/{DATABASE_NAME}"
%sql $connection

In [129]:
%%sql
SHOW DATABASES;

 * mysql+pymysql://francis:***@localhost/nutrition
4 rows affected.

             Database
0  information_schema
1               mysql
2           nutrition
3  performance_schema

In [130]:
%%sql
SELECT user, host
FROM mysql.user;

 * mysql+pymysql://francis:***@localhost/nutrition
6 rows affected.

               user       host
0           francis          %
1  debian-sys-maint  localhost
2  mysql.infoschema  localhost
3     mysql.session  localhost
4         mysql.sys  localhost
5              root  localhost

In [131]:
%%writefile $SCRIPT_PATH/create-tables.sql
USE nutrition;

DROP TABLE IF EXISTS nutrition_facts;
DROP TABLE IF EXISTS nutrients;
DROP TABLE IF EXISTS units;
DROP TABLE IF EXISTS items;
DROP TABLE IF EXISTS categories;

CREATE TABLE categories (
  category_id int PRIMARY KEY,
  category_name varchar(255) NOT NULL
);

CREATE TABLE items (
  item_id int PRIMARY KEY,
  item_name varchar(255) NOT NULL,
  category int NOT NULL,
  FOREIGN KEY (category) REFERENCES categories(category_id)
);

CREATE TABLE units (
  unit_id int PRIMARY KEY,
  unit_name varchar(255) NOT NULL
);

CREATE TABLE nutrients (
  nutrient_id int PRIMARY KEY,
  nutrient_name varchar(255) NOT NULL,
  unit int NOT NULL,
  FOREIGN KEY (unit) REFERENCES units(unit_id)
);

CREATE TABLE nutrition_facts (
  item int,
  nutrient int,
  quantity float NOT NULL,
  PRIMARY KEY (item, nutrient),
  FOREIGN KEY (item) REFERENCES items(item_id),
  FOREIGN KEY (nutrient) REFERENCES nutrients(nutrient_id)
);

Writing /content/project/nutrition-facts/scripts/create-tables.sql

In [132]:
!mysql -t < /home/coder/project/nutrition-facts/scripts/create-tables.sql

In [133]:
%%sql
SHOW TABLES;

 * mysql+pymysql://francis:***@localhost/nutrition
5 rows affected.

  Tables_in_nutrition
0          categories
1               items
2           nutrients
3     nutrition_facts
4               units

In [134]:
%%writefile $SCRIPT_PATH/ingest-data.sql
USE nutrition;

DELETE FROM nutrition_facts;
DELETE FROM nutrients;
DELETE FROM units;
DELETE FROM items;
DELETE FROM categories;

LOAD DATA INFILE '/home/coder/project/nutrition-facts/data/categories.csv' 
INTO TABLE categories 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

LOAD DATA INFILE '/home/coder/project/nutrition-facts/data/items.csv' 
INTO TABLE items 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

LOAD DATA INFILE '/home/coder/project/nutrition-facts/data/units.csv' 
INTO TABLE units 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

LOAD DATA INFILE '/home/coder/project/nutrition-facts/data/nutrients.csv' 
INTO TABLE nutrients 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

LOAD DATA INFILE '/home/coder/project/nutrition-facts/data/nutrition-facts.csv' 
INTO TABLE nutrition_facts 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

Writing /content/project/nutrition-facts/scripts/ingest-data.sql

In [135]:
!mysql -t < /home/coder/project/nutrition-facts/scripts/ingest-data.sql

In [136]:
%%sql
SELECT *
FROM categories;

 * mysql+pymysql://francis:***@localhost/nutrition
9 rows affected.

   category_id       category_name
0            0         Beef & Pork
1            1           Beverages
2            2           Breakfast
3            3      Chicken & Fish
4            4        Coffee & Tea
5            5            Desserts
6            6              Salads
7            7  Smoothies & Shakes
8            8      Snacks & Sides

In [137]:
%%sql
SELECT *
FROM items;

 * mysql+pymysql://francis:***@localhost/nutrition
260 rows affected.

     item_id                           item_name  category
0          0              Bacon Clubhouse Burger         0
1          1                      Bacon McDouble         0
2          2                             Big Mac         0
3          3                        Cheeseburger         0
4          4                        Daily Double         0
..       ...                                 ...       ...
255      255                 Medium French Fries         8
256      256   Ranch Snack Wrap (Crispy Chicken)         8
257      257  Ranch Snack Wrap (Grilled Chicken)         8
258      258                          Side Salad         8
259      259                  Small French Fries         8

[260 rows x 3 columns]

In [138]:
%%sql
SELECT *
FROM units;

 * mysql+pymysql://francis:***@localhost/nutrition
3 rows affected.

   unit_id unit_name
0        0      kcal
1        1         g
2        2        mg

In [139]:
%%sql 
SELECT *
FROM nutrition_facts;

 * mysql+pymysql://francis:***@localhost/nutrition
2860 rows affected.

      item  nutrient  quantity
0        0         0     720.0
1        0         1     360.0
2        0         2      51.0
3        0         3     115.0
4        0         4       4.0
...    ...       ...       ...
2855   259         6       1.5
2856   259         7      75.0
2857   259         8     130.0
2858   259         9       0.0
2859   259        10       0.0

[2860 rows x 3 columns]

In [142]:
!cp $SCRIPT_PATH/*.sql $GD_SCRIPT_PATH/.
!cp $DATA_PATH/*.csv $GD_DATA_PATH/.